html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: rgb(235, 179, 179);
}

a:hover {
    color: rgb(244, 214, 214);
}

table, tr, th, td, caption {
    border: 1px solid #eeee;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border-collapse: collapse;
    padding: 0.5rem;
}