@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: gray;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.columns { 
/*  column-count: 4;
  column-width: 250px; The below property "columns" include*/
  columns: 4 250px;
  column-rule: 3px solid #333; /* This is the divider */
  column-gap: 3rem;
} 

.columns p {
  margin-top: 0%;
}

.columns h2 {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid; 
  break-after: column;
}

.columns .quote {
  margin-top: 2%;
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
}
 /*by creating the following class will will never be broken */
 /* ex: " - The Dude " /**The dash will stay always with the dude */
.nowrap {
  white-space: nowrap;
}