body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1570641963303-92ce4845ed4c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
  background-position: center;
  background-attachment: fixed;
  background-size: 160%;
}

.container {
  padding: 100px;
}

h1 {
  font-size: 50px;
}

p {
  color: #333;
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
}