body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 10px;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  border: solid 4px peru;
}

.input::placeholder {
  color: burlywood;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
  background-color: peru;
  color: white;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  filter: brightness(0.9);
}

.score {
  color: peru;
  text-align: right;
}