* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    width: 40ch;
}


/*! for the lenghts unit can refer to this: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */
/*! vw is just for the vertical scroll-bar or 1% of the viewport's width */
/*! rem is Font size of the root element