* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 10px double red;
  /** border-top-width: 5px;*/
  /** border-right: 10px dotted blue;*/
  /** border-left: 5px solid red;*/
  font-size: 1.5rem;
  margin: 1.5em;
  /** margin-top: 1.5em;
  /** margin-right: 2em;
  /** margin-bottom: 2em;
  /** margin-left: 2em; */
  padding: 1.5em;
  outline: 5px solid rgb(149, 0, 0);
  outline-offset: -20px;
}

.circle {
  background-color: gold;
  margin: 3rem auto;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50px; 
  outline: 2px solid red;
  outline-offset: 0.25rem;

}



/*! for the lenghts unit can refer to this: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */
/*! vw is just for the vertical scroll-bar or 1% of the viewport's width */
/*! rem is Font size of the root element
/** setting the border radius at 50% of the width and height will give you a circle