body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  background-color: lightgray;
  width: 400px;
  padding: 20px;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.textarea {
  resize: none;
  width: 100%;
  height: 100px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px darkgoldenrod;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.counter-container p {
  font-size: 18px;
  color: firebrick;
}

.total-counter,
.remaining-counter {
  color: steelblue;
}
